<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-10T08:46:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hoo/Documents/workspace/react-native-nitro-buffer/example/ios/NitroBufferExample.xcworkspace</string>
</dict>
</plist>
